<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container fixed">
        <a class="navbar-brand" href="{% url 'home' %}">Online shop</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> 
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'tv_list' %}">
                    Televize
                </a>
            </div>
            <div class="navbar-nav">
                {% if user.is_superuser or stock_admin %}
                <a class="nav-item nav-link active" href="{% url 'stock_list' %}">
                    Sklad
                </a>
                {% endif %}
            <!-- Search form -->
            <div class="mx-auto">
                <form action="{% url 'search_results' %}" method="GET" class="form-inline">
                    <div class="input-group">
                        <label>
                            <input type="text" class="form-control" placeholder="Hledat" required name="q">
                        </label>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary" aria-label="Search">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link active" href="{% url 'view_cart' %}">Košík</a>
                    <a class="nav-item nav-link active" href="{% url 'profile_detail' %}">Profil</a>
                    <a class="nav-item nav-link active" href="{% url 'logout' %}">Odhlásit</a>
                {% else %}
                    <a class="nav-item nav-link active" href="{% url 'login' %}">Přihlášení</a>
                    <a class="nav-item nav-link active" href="{% url 'signup' %}">Registrace</a>
                {% endif %}
                
            </div>
    </div>
</nav>