{% extends "base.html" %}

{% block content %}
    <h2>Profil</h2>
    <div class="mb-4"></div>
    <h4>{{ user.profile.first_name }} {{ user.profile.last_name }}</h4>
    <div class="mb-3"></div>
    <p>Uživatelské jméno: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Datum narození: {{ user.profile.date_of_birth|date:"d.m.Y"|default:"" }}</p>
    <p>Telefon: {{ user.profile.phone_number|default:"" }}</p>
    <p>Adresa: {{ user.profile.address|default:""  }}</p>
    <p>Město: {{ user.profile.city|default:""  }}</p>
    <p>PSČ: {{ user.profile.zipcode|default:""  }}</p>
    <p>Datum registrace: {{ user.date_joined|date:"d.m.Y" }}</p>
    <a href="{% url 'password_change' %}" class="btn btn-warning">Změna hesla</a>
    <!-- Edit Profile Button -->
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Upravit profil</a>
{% endblock %}



