{% extends "base.html" %}

{% block content %}
    <div class="container mt-2">
        <h2>Úprava profilu</h2>
        <div class="mb-4"></div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Renders the form fields automatically -->
            <div class="mb-4"></div>
            <button type="submit" class="btn btn-success">Uložit změny</button>
        </form>
        <button onclick="window.location.href='{% url 'profile_detail' %}'" class="btn btn-secondary">Zpátky na Profil</button>
    </div>

{% endblock %}
