{% extends 'base.html' %}

{% block content %}
    <h2>Váš košík</h2>
    <ul>
        {% for television_id, item in cart.items %}
            <li>
                <div>{{ item.name }} {{ item.model }} za {{ item.price }} Kč</div>
                
                <form action="{% url 'remove_from_cart' television_id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">-</button> 
                </form>
                {#  ?from_cart=true bam bude rozisovat, zda navysuju pocet ks z kosiku nebo ze stranky produktu #}
                <form action="{% url 'add_to_cart' television_id %}?from_cart=true" method="get" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">+</button> {#  Jeste nefunguje #}
                </form>
                <div></div>Množství v košíku {{ item.quantity }} x</li>
        {% endfor %}
    </ul>
    <p>Počet položek: {{ total_items }}</p>
    <p>Celková cena: {{ total_price }} Kč</p>
    <a href="{% url 'checkout' %}" class="btn btn-outline-dark">Přejít na kontaktní údaje</a>
{% endblock %}

